*.class

# Package Files #
*.war
*.ear

# OSX #
.DS_Store

# IntelliJ and project files #
.idea/craig.xml
.idea/dictionaries/
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
out/
build
boot
mods
.gradle
lib/*.jar